/* ===========================
   RAXY BOOSTER
   Global Styles
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins',sans-serif;
    background:#0B1120;
    color:#ffffff;
    line-height:1.6;
}

a{
    text-decoration:none;
    color:inherit;
}

ul{
    list-style:none;
}

img{
    max-width:100%;
    display:block;
}

.container{
    width:90%;
    max-width:1200px;
    margin:auto;
}
